{% extends 'base.html' %}
{% block content %}
	<div class="jumbotron dashboard-jumbotron">
		<div class="container">
			<div class="row vertical-align">
				<div class="col-md-12">
					{% if server['icon'] %}
						<img style="width:100px; margin:15px;" class="img-circle" src="https://discordapp.com/api/guilds/{{server['id']}}/icons/{{server['icon']}}.jpg">
					{% endif %}
					<h2>
						<small style="color:#74C4D4;">{{ small_title or 'Dashboard'}}</small><br />
						{{server['name']}}</h2>
				</div>
			</div>
		</div>
	</div>
	{% block dash_content %}
	{% endblock %}
{% endblock %}
