{% extends 'dash_base.html' %}
{% block dash_content %}
    <div class="container">
        <div class="row">
            {% include 'sidebar.html' %}
            {% set csrf =  csrf_token() %}
            <div class="col-md-8">
                <h3>Moderator <a href="?disable=1" class="btn btn-warning btn-xs">Disable</a></h3>
                {% include 'flash.html' %}
                <form id="levels" method="POST" action="{{url_for('update_moderator', server_id=server['id'])}}">
                    <div class="form-group">
                      <input name=_csrf_token type=hidden value="{{ csrf }}">
		      <h3>!Clear
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="clear" {% if clear %} checked {% endif %}> Enable/Disable
                        </label>
                      </div>
		      </h3>
                      <div class="well well-sm">
			      <strong>Usage: </strong> <br />
			      <strong>!clear @someone</strong> Delete the messages of <em>@someone</em> in the last 100 messages.<br />
			      <strong>!clear xx</strong> Delete the xx last messages. Maximum of 100.<br />
                      </div>
		      <!--<h3>!Slowmode
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="slowmode" {% if slowmode %} checked {% endif %}> Enable/Disable
                        </label>
                      </div>
		      </h3>
                      <div class="well well-sm">
			      <strong>Usage: </strong> <br />
			      <strong>!slowmode xx</strong> Enables the slowmode for <em>xx</em> seconds.<br />
			      <strong>!slowoff</strong> Disable the slowmode.
			      </div>-->
		      <h3>!Mute
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="mute" {% if mute %} checked {% endif %}> Enable/Disable
                        </label>
                      </div>
		      </h3>
                      <div class="well well-sm">
			      <strong>Usage: </strong> <br />
			      <strong>!mute @someone</strong> Mute <em>@someone</em> in the current channel.<br />
			      <strong>!unmute @someone</strong> Unmute <em>@someone</em> in the currect channel.
                      </div>
		      <h3>Banned Words</h3>
		      <input class="form-control input-lg" name="banned_words" value="{{banned_words}}" type="text" id="banned_words">
		      <div class="well well-sm">
			      <strong>Put coma separated banned words! </strong> <br />
			      <strong>Example: </strong>f*ck,sh*t,wh*re
	 	      </div>

		      <h3>Moderator Roles</h3>
                      <div class="roles_wrap">

                            <label class="control-label" for="roles">Roles <button class="btn btn-primary btn-xs add_role">Add</button></label>
                            {%for role in roles %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Role Name" name="roles[]" value="{{role}}" type="text" id="roles">
                                <span class="input-group-btn">
                                  <button class="btn btn-default remove_field">Remove</button>
                                </span>
                             </div>
                             {%endfor%}
                      </div>
                      <script>
                      $(document).ready(function() {
                            var max_fields      = 100; //maximum input boxes allowed
                            var wrapper         = $(".roles_wrap"); //Fields wrapper
                            var add_button      = $(".add_role"); //Add button ID

                            var x = 1; //initlal text box count
                            $(add_button).click(function(e){ //on add input button click
                                e.preventDefault();
                                if(x < max_fields){ //max input box allowed
                                    x++; //text box increment
                                    $(wrapper).append('<div class="input-group"><input type="text" class="form-control" placeholder="Role Name" name="roles[]" type="text"><span class="input-group-btn"><button class="btn btn-default remove_field">Remove</button></span></div>'); //add input box
                                }
                            });

                            $(wrapper).on("click",".remove_field", function(e){ //user click on remove text

                                e.preventDefault(); $(this).parent('').parent('').remove(); x--;
                            })
                        });
                      </script>
                      <br />
                      <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock %}
