{% extends 'full-page.html' %}
{% block content %}
<div class="jumbotron home-jumbotron">
  <div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 animated bounceInLeft v-align">
		<center>
		<p>
		<img src="{{url_for('static', filename='img/cookie.jpg')}}" class="img-circle">
		</p>
		<p>
		<h1>Thank you very much! ;)</h1>
		</p>
		<p>
		<h2>Please follow the steps bellow</h2>
		</p>
		</center>
		<p>
		<ul type="none">
			<li>
				<strong>1 -</strong> Join <strong>Mee6</strong>'s server: 
				<a href="https://discord.gg/0tOgeGSG9kVbtw7u" target="_blank">
					<img style="border:1px solid #FFF" src="https://discordapp.com/api/servers/159962941502783488/widget.png?style=banner5">
				</a>
			</li>
			<li><strong>2 - </strong>Send me (Cookie) a little message with your paypal's email account</li>
			<li><strong>3 - </strong>Enjoy! You're freaking AWESOME!</li>
		</ul>
		</p>
	</div>
	    </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
